@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* nav section starts */
.nav-item{
    margin: 0 25px;
}
.nav-item:nth-child(4){
    margin-right: 0px;
}
.nav-item a{
    border-bottom: 2px solid #fff;
}
.nav-item a:hover{
    border-bottom: 2px solid #1CBD9D;
    transition: 1s;
}

/* bannar-section starts */

.bannar_wellcome{
    width: 99%;
    height: 680px;
}
.display{
    display: none;
}
.text_section{
    overflow: hidden;
}
.bannar-left{
    padding: 27% 0;
    opacity: 0;
    transform: scale(.1);
    transition: ease-in-out 1s all;
}
.bannar_left_active{
    opacity: 1;
    transform: scale(1);
}
.bannar-header{
    font-size: 68px;
    font-weight: 200;
    font-family: 'Rubik';
}
.bannar-content{
    font-size: 18px;
    padding: 2% 0;
    font-family: 'Rubik';
}
.bannar-button-list{
    display: flex;
    list-style: none;
    padding: 0;
}
.bannar-button-list .bannar-button-Items:nth-child(1){
    margin-right: 10px;
    background: #1CBD9D;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.bannar-button-list .bannar-button-Items:nth-child(1) a{
    text-decoration: none;
    color: #fff;
    padding: 10px 38px;
}
.bannar-button-list .bannar-button-Items:nth-child(2){
    margin-right: 10px;
    border: 2px solid #1CBD9D;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.bannar-button-list .bannar-button-Items:nth-child(2) a{
    color: #1CBD9D;
    text-decoration: none;
    padding: 10px 28px;
}
.image_section{
    position: relative;
    overflow: hidden;
}
.image_section_active{
    overflow: visible;
}
.bannar-image{
    margin-top: 20px;
    opacity: 0;
    margin-left: 500px;
    transition: all 1s ease-in-out;
    width: 80%;
}
.aword_image.active{
    opacity: 1;
    margin-left: 130px;
}
.aword_image{
    position: absolute;
    top: 36%;
    left: -21%;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
    animation: left_right 5s infinite;
}

@keyframes left_right{
    50%{
        transform: translateX(20px);
    }
}
.active{
    opacity: 1;
    transform: scale(1);
}
.bannar_tag{
    position: absolute;
    top: 40%;
    right: 2.8%;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
    animation: up_down 4s infinite;
}
@keyframes up_down{
    50%{
        transform: translateY(20px);
    }
}
.active{
    opacity: 1;
    transform: scale(1);
}
.best_bannar{
    position: absolute;
    top: 70%;
    right: -9.3%;
    opacity: 0;
    transform: scale(.1);
    transition: all 1.5s ease-in-out;
    animation: left_right 3.5s infinite;
}

@keyframes left_right{
    50%{
        transform: translateX(20px);
    }
}
.active{
    opacity: 1;
    transform: scale(1);
}

/* bannar section ends */

/* ous section starts */
.ous-body{
    padding: 5% 3% 0 0;
}
.ous-header,.service-header{
    margin-left: 13.4%;
    font-size: 48px;
    position: relative;
}
.ous-header::before, .service-header::before{
    content: '';
    right: 100%;
    bottom: 50%;
    background: #1CBD9D;
    height: 3px;
    width: 171px;
    position: absolute;
}
.icon-ous{
    text-align: center;
    padding: 80px 35px;
    background: #BEFFF2;
    margin-top: 50px;
    border-radius: 15px;
}
.icon-ous:first-child{
    margin-left: 0;
}
.icon-ous:first-child{
    margin-right: 0 !important;
}
.ous-content-icon{
    background: #fff;
    padding: 30px;
    border-radius: 15px;
}
.ous-content-header{
    padding: 25px 0;
}
.ous-content{
    font-size: 15px;
}
/* ous section ends */

/* service section starts */
.icon-service{
    text-align: center;
    padding: 45px 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 15px;
    cursor: pointer;
}
.icon-service:hover{
    background: #BEFFF2;
}
.service-top{
    margin-left: 50px;
}
.service-header{
    margin-top: 5%;
}
.service-content-icon{
    font-size: 50px;
    border-radius: 15px;
    margin-bottom: 50px;
    color: #1CBD9D;
}
.service-content{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.services-image{
    width: 90%;
    height: auto;
}
.service-section-bottom{
    margin-left: -37px;
}
/* services section ends */
/* contact-section starts */
.contact-bg{
    position: relative;
    background: #1CBD9D;
    width: 100%;
    height: 398px;
    margin-top: 120px;
}
.contact-section{
    padding: 7% 0;
}
.contact-header{
    color: #fff;
    font-size: 40px;
}
.contact-list{
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
    padding-left: 20px;
}
.contact-link{
    background: #fff;
    width: 150px;
    height: 40px;
    padding: 10px 35px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}
.contuct-image{
    margin-top: -111px;
    height: auto;
}
.playbutton{
    position: absolute;
    right: 10%;
    top: 35%;
    background-color: red;
    border-radius: 65%;
    padding: 3px;
}
.playbuttonOne{
    position: absolute;
    right: 7.8%;
    top: 28%;
    width: 12%;
    animation: circleOne 6s linear infinite;
}
@keyframes circleOne{
    0%{
        transform:rotate(0deg)
                  rotate(0deg);
      }
      100%{
        transform:rotate(360deg)
                  translate(0px)
                  rotate(-360deg);
      }
}
.playbuttonTwo{
    position: absolute;
    right: 6.4%;
    top: 23.8%;
    width: 15%;
    animation: circleThree 4s linear infinite reverse;
}
@keyframes circleThree{
    0%{
        transform:rotate(0deg)
                  rotate(0deg);
      }
      100%{
        transform:rotate(360deg)
                  translate(0px)
                  rotate(-360deg);
      }
}
.playbuttonThree{
    position: absolute;
    right: 5.1%;
    top: 19.5%;
    width: 18%;
    animation: circleThree 4s linear infinite;
}
@keyframes circleThree{
    0%{
        transform:rotate(0deg)
                  rotate(0deg);
      }
      100%{
        transform:rotate(360deg)
                  translate(0px)
                  rotate(-360deg);
      }
}
.playbutton{
    transform: scale(1);
    transition: all .5s ease-in-out;
}
.playbutton.active{
    transform: scale(1.2);
}
/* contact-section ends */
/* project-section starts */
.project-section{
    padding: 4% 0;
}
.row{
    margin: 0 !important;
}
.project-header-manegment{
float: right;
position: relative;
font-size: 48px;
}
.project-header-manegment::before{
    content: '';
    right: 100%;
    bottom: 50%;
    background: #1CBD9D;
    height: 3px;
    width: 171px;
    position: absolute;
}
.project-all{
    padding: 5% 0;
}
.sideber-scroll{
    padding-left: 0px;
    border-left: 6px solid #d4d3d3;
}
.all_page{
    padding-left: 20px;
    color: #1CBD9D;
    cursor: pointer;
}
.all_page.active{
    color: #1CBD9D;
    padding-left: 20px;
    margin-left: 0;
    border-left: 4px solid #1CBD9D;
    margin-left: -5px;
}
.website{
    padding-left: 20px;
    cursor: pointer;
}
.website.active{
    color: #1CBD9D;
    padding-left: 20px;
    margin-left: 0;
    border-left: 4px solid #1CBD9D;
    margin-left: -5px;
}
.Website.active{
    display: none;
}
.App_dave.active{
    display: none;
}
.Digital_merket.active{
    display: none;
}
.app_dave{
    padding-left: 20px;
    cursor: pointer;
}
.app_dave.active{
    color: #1CBD9D;
    margin-left: 0;
    padding-left: 20px;
    border-left: 4px solid #1CBD9D;
    margin-left: -5px;
}
.digital_merket{
    padding-left: 20px;
    cursor: pointer;
}
.digital_merket.active{
    color: #1CBD9D;
    margin-left: 0;
    padding-left: 20px;
    border-left: 4px solid #1CBD9D;
    margin-left: -5px;
}
.sidebar a{
    margin-top: 20px;
    margin-bottom: 52px;
    padding: 7px 20px;
    display: block;
    color: #000;
    text-decoration: none;
}
.project-card{
    padding: 60px 10px;
    background: #e6e6e6;
    text-align: center;
    margin-left: 0%;
    margin-top: 10%;
    cursor: pointer;
}
.project-card:hover{
    background: #1CBD9D;
}
.project-card-header{
    font-size: 28px;
    padding: 30px 0;
}
.project-all-part-2{
    padding-bottom: 70px;
}


/* product-section starts */

.product-section-header{
    margin-bottom: 8%;
}
.product-card{
    padding: 60px 30px;
    background: #e6e6e6;
    text-align: center;
    margin: 0 15%;
    border-radius: 15px;
    margin-bottom: 8%;
    cursor: pointer;
}
.product-card:hover{
    background: #1CBD9D;
}
.product-card-header{
    padding: 30px 0;
    font-family: 'Rubik';
}
.project-card-content{
    font-family: 'Rubik';
}

/* customer-speech-section starts */
.updet-states{
    width: 74%;
     background: #1CBD9D;
     padding: 20px;
     border-radius: 15px 15px 0 0;
     margin: 0 13%;
     margin-top: 5%;
}
.complit-projects{
    width: 33.33%;
    text-align: center;
    margin: 3% 0;
}
.card-border{
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
.complit-project-card h2{
    font-size: 80px;
    color: #fff;
}
.complit-project-card p{
    color: #fff;
    font-size: 18px;
}
.comment-customer{
    padding: 5% 12%;
    background: #C3FFF3;
}
.comment-path{
    margin: 0;
    padding: 0;
}
.comment-path-contant{
    font-size: 34px;
}
.comment-path-icon{
    font-size: 60px;
}
.comment-path-image{
    width: 60px;
    height: 60px;
    background: #f0e2e2;
    border-radius: 50%;
    border: 3px solid #1CBD9D;
    display:inline;
    object-fit: cover;
}
/* form-section starts */
.form-section{
    width: 74%;
     background: #1CBD9D;
     padding: 20px;
     border-radius: 0 0 15px 15px;
     margin: 0 13%;
     margin-bottom: 5%;
}
.form-section-header{
    color: #fff;
    padding-bottom: 25px;   
    text-align: center;
    font-size: 48px;
    margin-top: -20px;
}
.form-header-section{
    padding: 5% 0;
}
.input-text{
    margin: 0 10%;
}
.full-name{
    width: 48%;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    background: #5dd9c0;
    border: none;
    margin-bottom: 25px;
    margin-right: 1.5%;
}
.full-name::-webkit-input-placeholder { /* Edge */
    color: rgb(255, 255, 255);
  }
  
.full-name:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
.full-name::placeholder {
    color: rgb(255, 255, 255);
  }
.full-name1{
    width: 48%;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    background: #5dd9c0;
    border: none;
    margin-bottom: 25px;
    margin-left: 1.7%;
}
.full-name1::-webkit-input-placeholder { /* Edge */
    color: rgb(255, 255, 255);
  }
  
.full-name1:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
.full-name1::placeholder {
    color: rgb(255, 255, 255);
  }
form textarea{
    width: 80%;
    background: #5dd9c0;
    outline: none;
    border: none;
    margin: 0 10%;
    padding: 5px;
}
form textarea::-webkit-input-placeholder { /* Edge */
    color: rgb(255, 255, 255);
  }
  
form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
form textarea::placeholder {
    color: rgb(255, 255, 255);
  }
.form-button{
    padding: 0 12px !important;
}
.btn-warning{
    background: #BEFFF2 !important;
}
/* footer section starts */
footer{
    padding: 7% 10%;
    background: #2D2E34;
    color: #fff;
}
footer p, h2{
    font-size: 15px;
}
footer h2{
    font-weight: bold;
    margin-bottom: 25px;
}
.footer-logo{
    font-size: 35px;
}
footer a{
    text-decoration: none;
    color: #fff;
    display: block;
}
footer a:hover{
    color: #d4d3d3;
}
footer i{
    color: #1CBD9D;
}
.Address-icon{
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.Address-icon:hover{
    background: #1CBD9D;
    border: 2px solid #1CBD9D;
    border-radius: 50%;
    color: #fff;
}